<p id="notice"><%= notice %></p>

<p>
  <strong>画像</strong>
<%= image_tag @product.image,:size =>'150x160'%>
</p>

<p>
  <strong>タイトル</strong>
  <%= @product.title %>
</p>

<p>
  <strong>説明</strong>
  <%= @product.description %>
</p>

<p>
  <strong>値段</strong>
  <%= @product.price %>
</p>

<p>
  <strong>店舗</strong>
  <%= @product.shop %>
</p>

<%= link_to '商品情報を編集', edit_product_path(@product) %> |
<%= link_to '一覧に戻る', products_path %>
